<p id="notice"><%= notice %></p>

<h1>Holders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surename</th>
      <th>Passport</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holders.each do |holder| %>
      <tr>
        <td><%= holder.name %></td>
        <td><%= holder.surename %></td>
        <td><%= holder.passport %></td>
        <td><%= link_to 'Show', holder %></td>
        <td><%= link_to 'Edit', edit_holder_path(holder) %></td>
        <td><%= link_to 'Destroy', holder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holder', new_holder_path %>
